<a href="https://colab.research.google.com/github/hakkanazrul06/PRAKTIKUMSTRUKTURDATA/blob/main/Latihan_STRUKDAT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Satu
npm = []

npm = [2420506029, 2420506030, 2420506031, 2420506032, 2420506033]

print("Isi array NPM: ", npm)

Isi array NPM:  [2420506029, 2420506030, 2420506031, 2420506032, 2420506033]

In [ ]:
#Dua
npm = [29, 30, 31, 32]
npm.pop(0) #menghilangkan nilai pertama, 0=1, 1=2 dst.
print(npm) #memprint array npm setelah command pop.

[30, 31, 32]

In [ ]:
#Tiga
fakultas = ["Pertanian", "Teknik", "Ilmu Pendidikan", "Ilmu Politik", "Ekonomi"]

for x in fakultas:
  print("Fakultas", x)

Fakultas Pertanian
Fakultas Teknik
Fakultas Ilmu Pendidikan
Fakultas Ilmu Politik
Fakultas Ekonomi

In [ ]:
#Empat
harga = [100, 20, 30, 60]

print("Total belanja: ", sum(harga))

Total belanja:  210

In [ ]:
#Lima
matrix = [
    [20, 30, 40, 51],
    [1, 2, 3, 4],
    [50, 23, 33, 44]
]

print("Isi matrix 2d: ")
for x in matrix:
  print(x)

Isi matrix 2d:
[20, 30, 40, 51]
[1, 2, 3, 4]
[50, 23, 33, 44]

In [ ]:
#Enam
matrix = [
    [20, 30, 40, 51],
    [1, 2, 3, 4],
    [50, 23, 33, 44]
]

print("Baris 2, Kolom 4: ", matrix[1][3])

Baris 2, Kolom 4:  4

In [ ]:
#Tujuh
matrix = [
    [20, 30, 40, 51],
    [1, 2, 3, 4],
    [50, 23, 33, 44]
]

matrix.append([19, 0o6 , 20, 0o6])
print("matrix: ")
for x in matrix:
  print(x)

matrix:
[20, 30, 40, 51]
[1, 2, 3, 4]
[50, 23, 33, 44]
[19, 6, 20, 6]

In [ ]:
#Delapan
matrix = [
    [20, 30, 40, 51],
    [1, 2, 3, 4],
    [50, 23, 33, 44]
]

matrix.append([19, 0o6 , 20, 0o6])
matrix[3].pop(2)
print("matrix: ")
for x in matrix:
  print(x)

matrix:
[20, 30, 40, 51]
[1, 2, 3, 4]
[50, 23, 33, 44]
[19, 6, 6]

In [ ]:
#Sembilan
matrix = [
    [20, 30, 40, 51],
    [1, 2, 3, 4],
    [50, 23, 33, 44]
]

matrix.append([19, 0o6 , 20, 0o6])
matrix[3].pop(2)
matrix[3][2] = 18
print("matrix setelah diganti: ")
for x in matrix:
  print(x)

matrix setelah diganti:
[20, 30, 40, 51]
[1, 2, 3, 4]
[50, 23, 33, 44]
[19, 6, 18]

In [ ]:
#Sepuluh
barang = ["minyak", "beras", "milo"]
barang.append("telor")
barang.remove("milo")

print("list belanjaan: ")
for x in barang:
  print(x)

list belanjaan:
minyak
beras
telor